@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(180deg, #B7BC99 0vw, #B4BB8C 26vw, #B4BB8C 100vw);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {

    --background: linear-gradient(180deg, #B7BC99 0vw, #B4BB8C 26vw, #B4BB8C 100vw);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-stroke {
    -webkit-text-stroke: 2px #E9557F; /* Mengatur ketebalan dan warna outline */
  }

  .text-stroke2 {
    -webkit-text-stroke: 0.5px black; /* Mengatur ketebalan dan warna outline untuk layar dengan lebar minimal 768px */
  }
}

@media (min-width: 768px) {
  .text-stroke {
    -webkit-text-stroke: 3px #E9557F; /* Mengatur ketebalan dan warna outline untuk layar dengan lebar minimal 768px */
  }
  .text-stroke2 {
    -webkit-text-stroke: 0.5px black; /* Mengatur ketebalan dan warna outline untuk layar dengan lebar minimal 768px */
  }
}
@media (min-width: 1034px) {
  .text-stroke {
    -webkit-text-stroke: 4px #E9557F;
  }

  .text-stroke2 {
    -webkit-text-stroke: 0.5px black;
  }
}
